@charset"utf-8";

body {
	margin: 0;
}

.container {
	margin: 0 auto 0 auto;	/* 左右がオートになってるので中央揃えになる */
	max-width: 1000px;	/* スマホだったら750px */
}

section .container {
	display: flex;
	flex-flow: column;
}

/*
nav {
	margin-bottom: 20px;
}

footer {
	margin-top: 20px;
}
*/

/* 各パートにパディング、背景、テキスト色などを指定する。<div class="container">の子要素に指定する */
.header-inner {
	background: #bad7f5;
	padding: 10px 10px 0 10px;
}

.nav-inner {
	color: #fff;
	background: #0086f9;
	padding: 10px 10px 0 10px;
}

main {
	background: #fffde3;
	padding: 20px 10px;

	/* レイアウトのイメージをしやすいように高さを設定。通常のWebデザインではレイアウトで高さを設定しない */
	height: 400px;
}

/*
main p:last-child {		mainの中にある最後のpタグを指定している
	margin-bottom: 0;
}

.main-title {
	margin: 0;
}

.copyright {
	margin: 0;
}
*/

.sidebar {
	background: #c0f5b9;
	padding: 20px 10px;
}

.footer-inner {
	background: #bad7f5;
	padding: 20px 16px 10px;
}

@media only screen and (min-width: 768px) {
	section .container {
		flex-flow: row;		/* 横並びにする*/
	}
	main {
		flex: 1 1 auto;
		order: 2;
	}
	.sidebar1 {
		flex: 0 0 200px;
		order: 1;
	}
	.sidebar2 {
		flex: 0 0 250px;
		order: 3;
	}
}


